# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data & outputs (keep small samples only)
data/raw/
data/processed/
reports/figures/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
