# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Envs & build
.venv/
.env/
dist/
build/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# Data (adjust to your policy)
data/interim/
data/processed/
